<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<body>
    <header>
        <h1>
            Welcome, Trainer!
        </h1>
    </header>
    <main>
    <nav>
        <h2>
            Would you like to enter some information about your team?
        </h2>
        <p>
            <a href="./trainers">Click here to enter your Trainer info</a>
        </p>
        <p>
            <a href="./pokemon">Click here to enter your Pokemon info</a>
        </p>
        <p>
            <a href="./matches">Click here to enter your Match info</a>
        </p>
        <p>
            <a href="./moves">Click here to view move info</a>
        </p>
        <p>
            <a href="./movesets">Click here to view recorded movesets</a>
        </p>
    </nav>
        <p>
            content
        </p>
    </main>
</body>